header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #2c2c3b;
    box-shadow: 1px 10px 11px 1px rgba(0,0,0,0.75);
}

#levelDisplay {
    width: 10%;
    top: 50px; 
    height: 100%;
    position: absolute;
    right: 0;
    background-color: #031329;
    z-index: -1;
    text-align: center;
    color: whitesmoke;
}

#levelTxt {
    position: relative;
    top: 15px;
}

#horizontalDivider {
    position: relative;
    top: 5px;
    width: 36px;
    height: 2px;
    margin: auto;
    background-color: bisque;
}

#lvlSelectorContainer {
    position: relative;
    top: 15px;
    width: 90%;
    height: 300px;
    background-color: darkred;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.levelSelectorBtn {
    position: relative;
    color: whitesmoke;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #123c80;
    box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
}

#level_container {
    position: relative;
    width: 90%;
    height: 850px;
    background-color: darkred;
    top: 65px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

}


#createCharBtn {
    color: whitesmoke;
    position: relative;
    top: 12%;
    left: 5%;
    height: 75%;
    background-color: #123c80;
    border-radius: 10%;
    box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
}

#lvlButton {
    color: whitesmoke;
    position: relative;
    top: 12%;
    left: 6%;
    height: 75%;
    background-color: #123c80;
    border-radius: 15%;
    box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
}

body{
    background-color: #1b1b1f;
}

.iconOption{
    width: 100px;
    height: 100px;
    z-index: 20;
}

#randomize {
    position: relative;
    top: 20px;
    background-color: #343445;
}

#charCreator {
    visibility: hidden;
    top: 55px;
    left: 0;
    position: absolute;
    width: 1400px;
    height: 95%;
    background-color: rgba(51, 49, 54, 0.95);
    z-index: 20;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#charCreator.visible {
    visibility: visible;
}

#currChar {
    width: 300px;
    height: 330px;
    top: 2%;
    right: 110px;
    position: absolute;
    background-size: 100%;
    text-align: center;
    text-shadow: 3px 2px 3px rgba(255,255,255,.2);
}

#currCharText {
    position: relative;
    top: 6px;
}

.categoryTitles {
    position: relative;
    color: whitesmoke;
}

#head {
    position: relative;
    top: 40px;
}
#faces {
    position: relative;
    top: 70px;
}
#clothingColor {
    position: relative;
    top: 20px;
}
#facialHair {
    position: relative;
    top: 110px;
}

#accessories{
    position: relative;
    top: 20px;
}

#headContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 0;
    position: relative;
    width: 1300px;
    top: 60px;
    left: 50px;
    height: 320px;
    background-color: red;
}

#clothsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 0;
    position: relative;
    width: 800px;
    top: 20px;
    left: 50px;
    height: 100px;
    background-color: blueviolet;
    z-index: 1;
}

#skinColorContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 500px;
    top: 20px;
    left: 50px;
    height: 100px;
    background-color: red;
}

#faceContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 0;
    padding: 0;
    position: relative;
    width: 1300px;
    top: 90px;
    left: 50px;
    height: 220px;
    background-color: red;
}

#facialHairContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 0;
    padding: 0;
    position: relative;
    width: 1300px;
    top: 120px;
    left: 50px;
    height: 120px;
    background-color: red;
}

#accessoryContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 0;
    padding: 0;
    position: relative;
    width: 800px;
    top: 20px;
    left: 50px;
    height: 120px;
    background-color: red;
}
